.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.h-200 {
    height: 200px;
}

.game-cards {
    background-size: cover;
}

.game-list-card:hover {
    background: #f5f5f5;
    cursor: pointer;
    border-radius: 10px;
}

.full-screen-ad {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    background-color: white; /* Set the background color for the ad */
    z-index: 9999; /* Set the z-index to ensure it appears on top of other content */
    /* Add any other styles as needed */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    /* Add any other styles as needed */
}

.add-card {
    min-height: 200px;
    border: 1px solid black;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
